<%=@player_1.hit_points%>:<%=@player_1.hit_points%>HP
<%=@player_2.hit_points%>:<%=@player_2.hit_points%>HP
<%=@player_1.name %> has attacked <%=@player_2.name%>!

<form action = "/play" method = "get">
  <input type="button" value ="OK">
</form>
